body {
	background-color: #ececec;
}

#border{
	border: 1px solid black;
}

.container {
	background-color: white;
	width: 90%;
	margin: 0 auto;
}

img#small {
	height: 75px;
	width: 75px;
}
img#icon {
	margin-left: 37%;
	height: 75px;
	width: 75px;
}

img#footer-plate {
	margin-left: 12%;
}

h3#title {
	text-align: center;
}

section.footer {
	background-image:url(foods.png);
	background-color: rgb(227, 143, 32);
	padding-top: 40px;
}

#left-pad {
	margin-top: 7%;
}

#pad {
	padding: 3%;
}

#inquiry {
	background-color: #DCDCDC;
	padding: 10px;
	border-radius: 10px;	
}

#grubbing {
	font-family: "Open Sans";
	font-style: normal;
	border-radius: 10px;	
	border-style: none;
	border-color: none;
	text-shadow: none;
	background: none;
/*	margin-left: 15%;*/
	font-weight: 100;
	letter-spacing: 1.5px;
	width: 70%;
	color: white;
	background-color: #328596;
}