.row
  .large-12.columns
    .big-p
      %h1
        Collective Green SF's Own Concept of Health:
      %h3 What is "healthy"?
      %p
        The word "healthy" is thrown around so much that we believe it has lost its true meaning. Here at CGSF, we have formulated our own notion of "healthy", triangulated by three concepts; physical upkeep, cognitive growth, and pure consumption.
      %p
      %h3 Physical Upkeep
      %p
        Physical upkeep is taking a minimum of half an hour a day to focus exclusively on one's body.
      %p
        The modern individual is often times too busy to remember that one's body is a fortress that needs attention and maintenance. Cardiovascular activity keeps the body absorbing nutrients and burning more fats. Even by just stretching or taking a short walk, you are enabling your body's alignment and preventing somatic stagnation.
      %p
        As an added bonus, your brain will produce more serotonin - the more serotonin, the happier your days will be!
      %h3 Cognitive Growth
      %p Cognitive growth is keeping one’s mind balanced.
      %p
        Physical upkeep stimulates cognitive growth!
      %p
        Why is this, you ask?
      %p
        In the age of digital technology, we, as human beings, often find ourselves juggling our personal life, a demanding job, and a persistent busy-ness of mind. Sitting in front of a computer for 8+ hours per day is mind-numbing and can lead to a lot of physical and emotional distress.
      %p
        A great way to keep calm cool and collected in such a chaotic digital world is to be aware that there are other parts of your brain to exercise. By forgoing your electronic devices for at least an hour a day you are giving certain parts of your brain and much needed rest!
      %h3 Pure Consumption
      %p
        Pure consumption is listening to your body to better understand what you should eat, and when.
      %p
        People are so caught up with cutting edge trend diets that they ignore what their bodies are truly craving.
        
        With the right cognitive growth and physical upkeep, you can really hone in on out what your body needs.
        
        When you feel like you’re losing brain power, grab a banana and apple.
        
        When your legs feel like they are about to give out, have some cashews.
        
        The combination of fueling your body with protein and fruits will increase productivity levels and leave you performing to at your absolute best.
        
        Pure consumption also involves knowing where your ingredients come from and what your ingredients and made from.
        
        At CGSF we aim to use pure organic ingredients, in an ongoing, dedicated effort to reduce any and all negative and harmful additives in your meals.
        
        Pure consumption will not only help you in the present moment but also ensure that you have a lead a healthier and more focused lifestyle.
      %p
        Always remember that there is a whole world out there besides your computer.
        
        Taking the flight of stairs instead of the elevator goes along way and eating anything that grows from the ground is essential.
      %h1
        Don’t take your life for pomegranate!
.row
  .large-12.columns
    .big-p
      %h1
        Our Other Options:
      %p
        CollectiveGreenSF does not only embody the future of food but the past as well. In a world filled with pesticides, hormones, additives, and antibiotics it’s a miracle our bodies can still function smoothly. Gluten, lactose, and genetically modified organisms who really knows the right answer to the age-old question: what diet is good for me and what lifestyle should I be living?
      %p
        The answer is simple and it is buried deep in your personal ancestral roots. We as humans adapt. We have been adapting for thousands of years based on environmental factors and the need to survive. As time goes on we change and become better equipped to deal with our surroundings. This is a natural process that occurs slowly over vast period of time. When this process is rushed we as human beings cannot keep up in the adaptation process and we get sick or develop allergies or intolerances to certain foods. Our bodies are best adapted to process the food native to the regions of the world where our ancestors once lived and thrived (Paleo). In an ever-expanding world it is very difficult to eat in such a way. And to make matters even worse in the last fifty years food has experienced more change than it ever has before. Food is preserved with chemicals and transformed into genetically modified organisms that kill insects and reproduce with lighting speed.
      %p
        The growing demand for inexpensive and easily accessible food has taken our world and our diets for a wild ride. By eating whole and organic foods we can begin to reverse the project. Famous author and activist Michael Pollen says it best, Eat a whole food plant based diet with meat as a side dish. Use portion control and stick to whole grains. Life is far too short to not to enjoy every second of every day in optimal and supreme health.