.row 
  .large-4.large-centered.columns
    %h1
      Our Thoughts
.row
  .large-9.columns
    .blog-post
      %h2#title Blog Post Title
      %h3#author-name Blog Author Name
      %p#blog-content
        Bacon ipsum dolor sit amet drumstick shoulder shankle flank spare ribs corned beef ham hock pork loin jowl venison. Beef ribs ham hock capicola ham jerky boudin chicken bacon ribeye t-bone short loin short ribs. Hamburger strip steak sirloin shank short loin, bresaola spare ribs tenderloin brisket pastrami turducken filet mignon. Cow pancetta ham, flank tail venison spare ribs. Venison pancetta tenderloin shank sausage strip steak biltong kevin capicola. Pork chop frankfurter kevin meatloaf bresaola prosciutto tail turducken pastrami ham doner tenderloin beef ribs ground round. Flank pork loin short loin, t-bone rump ribeye fatback short ribs prosciutto filet mignon leberkas.
        %br/
        %br/
        Bresaola tri-tip kevin, capicola bacon tenderloin swine jowl frankfurter. Andouille beef ribs kielbasa, rump ham sirloin pork chop. Filet mignon t-bone pastrami pig. Prosciutto spare ribs pork belly, strip steak shankle tail pork loin meatball. Swine pork tenderloin turducken kielbasa ribeye, t-bone rump jerky tri-tip shankle meatloaf hamburger. Beef ribs corned beef turducken shankle drumstick tri-tip capicola bacon turkey.
        %br/
        %br/
      %h2#middle-pull-quote This can be an h2 type of deal.
      %p#blog-content
        Ground round ham hock beef ribs shoulder, tri-tip shank cow tail. Short ribs leberkas andouille beef fatback corned beef tail. Sausage sirloin t-bone ball tip ground round filet mignon swine kielbasa biltong beef ribs. Chicken pastrami hamburger tongue.
        %br/
        %br/
        Kevin bacon ground round pig. Tri-tip venison capicola meatloaf pig bresaola biltong jowl swine kielbasa flank filet mignon shankle ribeye beef. Pastrami rump ribeye ground round, t-bone ball tip corned beef leberkas pork pork chop ham ham hock. Ham hock biltong frankfurter meatball, shoulder prosciutto bacon corned beef. Swine shank shoulder prosciutto chicken ground round pork belly kielbasa strip steak tenderloin ham. Flank short ribs t-bone, pork chop bacon brisket drumstick sausage fatback bresaola.
        %br/
        %br/
        Brisket ham bacon ribeye. Pancetta filet mignon hamburger ribeye fatback. Pork loin ball tip ham short ribs turducken rump. Bresaola frankfurter ball tip, pork loin prosciutto swine jowl ribeye shank filet mignon.
      #share
        Share
        %br/
        %br/
        %span#twitter-icon
          %img{alt: "twitter-icon", height: "32", src: "twitter_icon.png", width: "32"}/
        %span#facebook-icon
          %img{alt: "facebook-icon", height: "32", src: "facebook_icon.png", width: "32"}/
  .large-3.columns
    %h3#archive Archive
    %ul.side-nav
      %li.active
        %a{href: "#"} Old Blog Titles
      %li.active
        %a{href: "#"} Old Blog Titles
      %li.active
        %a{href: "#"} Old Blog Titles
      %li.active
        %a{href: "#"} Old Blog Titles