.row
  .large-6.columns
    %img{height: "300", src: "callofdoge.png", width: "300"}/
  #chef.large-6.columns
    %h3 Chef Kenneth Hernandez
    %p Originally from Petaluma, California, Chef Ken was lured into the culinary world when his passion for healthier alternatives and California Cuisine came together.  Earlier on, Chef Ken attended Bauman College, a holistic culinary school based in Berkeley, CA.  After attending Bauman, Chef Ken solidified his training through stagiary’s at renowned restaurants such as NOPA SF and Chez Panisse. In no time, Chef Ken was able to create food programs as a Corporate Chef for a number of Tech Companies in the Bay Area.  With much success, Chef Ken was urged to spread the word on holism, thus CollectiveGreenSF was born.
.row
  .large-6.columns
    %img{height: "300", src: "callofdoge.png", width: "300"}/
  #chef.large-6.columns
    %h3 Danielle Parra, Events Coordinator
    %p I am a fun loving young woman filled with creativity, spunk, and determination.  I have been interested in special events ever since I started my college career.  I was active in the special events field while attending California State University, Chico and jumped right into the career field after graduating with a degree in Recreation Administration with an option in Special Events and Tourism.
    %p
      I have established myself in the special events world by working with many well known and highly respected venues, vendors, and clients throughout he infamous Napa Valley.  Intertwined with weddings, I have also had the pleasure of dabbling in, non-profit events, children's parties, corporate events, and styled shoots.  I am also familiar with the San Francisco life style of events and am loving expanding my horizons in experiencing the Big City.
    %p
      Life is all about unforgettable experiences.I want to be apart of creating these unforgettable experiences that life has in store for everyone.
.row
  .large-6.columns
    %img{height: "300", src: "callofdoge.png", width: "300"}/
  #chef.large-6.columns
    %h3 Nick Lanoil, Director of Operations
    %p Hailing from the southern half of the beautiful state of California, Nick Lanoil brings a unique entrepreneurial aspect to CGSF along with his strong passion for food. Nick has a background in both business management and holistic/holism studies. In an effort to marry the two Nick focuses on the root of a problem or an idea rather than the symptom. Nick is dedicated to building community through food and could not be more proud to help guide CGSF from farm to table.
.row
  .large-6.columns
    %img{height: "300", src: "callofdoge.png", width: "300"}/
  #chef.large-6.columns
    %h3 Luke Johnson, Kitchen Manager
    %p
      Luke Johnson is a southern California transplant who cut his teeth during the LA food truck boom and worked his way into the fine dining scene learning modern techniques at Ink., LA. Luke now resides in San Francisco where he has found a thriving cultural atmosphere in which fresh local produce and humanely sourced goods are at his disposal. He looks forward to growing not only as a chef but also as a contributing and conscientious member of the amazing san francisco food scene.
.row
  .large-6.columns
    %img{height: "300", src: "callofdoge.png", width: "300"}/
  #chef.large-6.columns
    %h3 Kailey-Jean Clark, Director of Holistic Operations
    %p
      Kailey-Jean believes food to be one of the most powerful medicines available, and that ultimately, we are what we eat. It is her goal to reveal that eating a healthy and balanced diet doesn't have to compromise taste. Her mission: Make it taste so good you’ll forget you're on a diet! With a background in Ayurvedic medicine, Kailey-Jean uses elemental theory--utilizing the various elements/qualities of a specific food to create balance in the body. She is a certified Ayurvedic practitioner and applies Ayurvedic principles in every dish she creates.  Kailey-Jean now strives to spread this knowledge and empower individuals to take their health into their own hands. Before joining the team at Collective Green SF, her skills have been showcased by leading a variety of superfood workshops, collaborating with wellness company OneExhale, and being the executive chef for retreat "The Digital Detox.".
.row
  .large-6.columns
    %img{height: "300", src: "callofdoge.png", width: "300"}/
  #chef.large-6.columns
    %h3 Chef Christer Alli
    %p
      Christer grew up in beautiful Sonoma county California, the heart of wine country. The culinary climate there revolves around locally sourced seasonal meats and produce prepared in a "slow food" style. This is the guideline for Christer's culinary inspiration, with a persistent fascination for traditional old world flavors, a strong emphasis on crisp and refreshing flavor profiles infused with eclectic spice combinations from all over the world and an ever-growing focus on holistic techniques.
.row
  .large-6.columns
    %img{height: "300", src: "callofdoge.png", width: "300"}/
  #chef.large-6.columns
    %h3 Chef Brittany Everett
    %p Brittany’s passion for cooking developed at a young age, when much of her time was spent in the kitchen with her mom, soaking up culinary knowledge and somehow managing to get flour on the ceiling. A San Diego native, she grew up surrounded by a variety of cuisines, but is most inspired by the flavors of Mexico. She enjoys creating food that is comforting and elevated through the use of fresh, healthy ingredients.