.row
  .large-6.columns
    %img{src: "contact-us.jpeg"}/
  .large-6.columns
    Collective Green SF
    
    This is our Address
    
    San Francisco
    
    California
    
    94118
    
    For more info email : info@collectivegreensf.com
    
    Or call the man behind the magic, Ken!