.row 
  .large-8.large-centered.columns
    %h1
      Collective Green San Francisco

.row{height: "300px", style: "background-image: url('icon_background2.png')", width: "960px"}
  .large-4.columns
    %img#icon{src: "philosophy_icon.png"}/
    %h3#title 
      Our Philosophy
    %p
      We believe in using organic, seasonal, unrefined and local ingredients in our food.Our aim is to provide cohesive meals to everyone, including those with various dietary restrictions and lifestyles.
  .large-4.columns
    %img#icon{src: "howwebegan_icon.png"}/
    %h3#title 
      How We Began
    %p 
      CGSF sprouted from the idea of enriching community through a clean organic food culture focused on a positive impact on health.
  .large-4.columns
    %img#icon{src: "our_food_icon.png"}/
    %h3#title 
      Our Food
    %p
      Our menus come from the creative minds of our talented chefs that we respectfully refer to as Culinary Engineers.  Our Chefs come from an eclectic mix of culinary backgrounds enabling us to create and design authentic collaborative meals.

.row 
  .large-8.large-centered.columns
    %ul.small-block-grid-3.medium-block-grid-3.large-block-grid-4
      %li
        %img#small{src: "unknown.png"}
      %li
        %img#small{src: "unknown-5.png"}
      %li
        %img#small{src: "unknown-4.png"}
      %li
        %img#small{src: "unknown-3.png"}
      %li
        %img#small{src: "unknown-2.png"}
      %li
        %img#small{src: "photo.jpg"}
      %li
        %img#small{src: "imgres.jpg"}
      %li
        %img#small{src: "images.png"}
      %li
        %img#small{src: "djz_black_logo_lg.jpg"}