.row{height: "300px", style: "background-image: url('icon_background2.png')", width: "960px"}
  .large-4.columns
    %img{src: "howwebegan_icon.png"}/
    %h2 How We Began
    %p#blurb CGSF sprouted from the idea of enriching community through a clean organic food culture focused on a positive impact on health.
  .large-4.columns
    %img{src: "philosophy_icon.png"}/
    %h2 Our Philosophy
    %p#blurb We believe in using organic, seasonal, unrefined and local ingredients in our food.  Our aim is to provide cohesive meals to everyone, including those with various dietary restrictions and lifestyles.
  .large-4.columns
    %img{src: "our_food_icon.png"}/
    %h2 Our Food
    %p#blurb Our menus come from the creative minds of our talented chefs that we respectfully refer to as Culinary Engineers.  Our Chefs come from an eclectic mix of culinary backgrounds enabling us to create and design authentic collaborative meals.