.row
  .large-12.columns
    %p
      Our Meals:
    %p
      We believe that the food we consume should be pure, fresh and taste great.  We fully emphasize our meals on seasonal, local, organic and unrefined ingredients.  We source from only the best and ensure that we use the healthiest of ingredients.  We never use refined oils, we stick to coconut oil, olive oil, grapeseed and ghee.  Our kitchen is primarily a gluten and dairy free kitchen, but sometimes we just can’t help making some buttery moist cakes!
    %p
      Daily Meals Breakfast, Lunch and Dinner
    %p
      We know what its like to live in the Tech Industry.  You’re mind is on a constant thought and a few hours later you’ve forgotten about eating.  We all need fuel in our body, especially when you are hard at work.  Our Daily Meal Program, provides just this.  We deliver fun and healthy meals straight to your office! We cater to everyones dietary lifestyle, be it Paleo, Vegan, Vegetarian and even restrictions.  Our goal is to make a cohesive meal for all.  After all, we are all family right?
    %p
      Holistic Meals(Individual)
    %p
      Are you the “on the go” type of an individual? Are you on a special dietary regiment? Our Holistic Meal program provides our clients a fully customized meal based on their needs.  Our specially trained Holistic Chefs have the knowledge and culinary chops to create alternative meals for all, we’ll even deliver straight to your door!
    %p
      We create meals for Paleo, Vegan, Atkins and even our house program Holistic Nutrition!
    %p
      Other Options:
    %p
      We here at CGSF have come together with a plan to deliver individual meals directly to your door. These meals will be prepared with all of your unique lifestyles and dietary restrictions in mind. Just like any other CGSF menu, these meals will feature the healthiest, most organic ingredients, and seasonal produce and proteins from locally sourced and sustainable purveyors. All of our meals will come individually packed and ready for consumption or refrigeration for later enjoyment. Our weekly menus will be sent out in the CGSF newsletter. CGSF wants to help you keep your life and productivity levels on track. Turnip those energy levels and don’t take your life for pomegranate, order your lunches today!
    Grilled Chicken with Peach BBQ
    
    Petaluma Chicken Breast Brined in Star Anise, Himalayan Salt, Peppers, and Golden Raisins paired with House-made Peach BBQ Sauce
    
    
    BBQ Carne Asada marinated in Miso Jalapeno Sauce
    
    Niman Ranch Top Sirloin Steak marinated in House Miso-Jalapeno Glaze
    
    
    Sweet and Tangy BBQ Pulled Pork Sandwiches
    
    8 Hour Pulled Pork with Seasonal Berry BBQ Sauce on House-made Buttery Biscuits
    
    
    California-Style Jambalaya
    
    Petaluma Chicken, Local Shrimp and Niman Sausages with Celery, Peppers, Onions, Fennel and Fried Thyme in rich Cajun-California Style Tomato Sauce
    
    
    Beef Tagine
    
    Anderson Valley Porter, Caramelized Carrots, Pearl Onions, and Peewee Potatoes served with Cardamom, Saffron Rice and Harissa Aioli
    
    
    Super Green Salad with Walnuts, Cashew “Goat” Cheese and Grilled Beets with Raspberry Vinaigrette
    
    Super Greens from Monterey County Line, Petaluma Goat Cheese, Spiced Walnuts, Grilled Beets drizzled
    
    
    Quinoa and Herb Crusted Kohlrabi “Steaks”
    
    Vegan Beet Aioli, Roasted Potatoes, Baby Carrots with Carrot Top Salsa Verde
    
    
    Grilled Smokey Portobellos
    
    Smokey Balsamic Marinade, Black Garlic Puree, Lemon topped with Chimichurri Sauce
    
    
    Chicken Apple Green Curry
    
    Rainbow Carrot, Napa Cabbage, Bok Choy, Sweet Potato, Celery, Leeks and Fuji Apples in a spicy green curry sauce
    
    
    Cochinita Tacos
    
    Braised Pork Shoulder in Banana Leaves, Orange Peels, Cinnamon and Achiote topped with Jicama Cilantro Citrus Slaw