.row
  .large-12.columns
    #events
      %h1
        Events
      %h2
        Corporate Events, Happy Hour, Weddings, and much more!
      %p Are you entertaining family, friends or clients? Our events catering program brings only the best to your events. With farm to table practices, we are able to bring not only the freshest of ingredients, but also set the stage for an amazing, one-of-a-kind event. Our in-house events coordinator will assist you in transforming your space into a unique and special vision!
      %h2
        Private Cooking Classes
      %p
        Have you ever wondered how we make that Raw Kale Salad? Our in-house chefs will teach you just that! You pick the menu, the location, and the date and we will come to you with equipment and ingredients to teach you how to create delicious meals. We'll even talk about the holistic benefits of your menu!
      %h2
        Event Services
      %p
        Our talented Events Coordinator, Danielle Parra, will assist you in creating an out of this world event. From planning to decorating, Danielle will take the stress out of throwing an event off your shoulders and make it an experience to remember! Events services include location scouting, planning, rental resources and more!